<a href="https://colab.research.google.com/github/Vaishnavi80090/Excel-Projects/blob/main/Assignment_Question_Decision_Making_and_loops_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Questions

 **Q.1 Check using given length and breadth if given mesaurements will make a rectangle or square.**

In [1]:
#Check using given length and breadth if given mesaurements will make a rectangle or square.
l=input("enter the length")
b=input("enter the width")
if l==b:
  print("square")
else:
  print("rectangle")

enter the length89
enter the width87
rectangle

**Q.2 Write a program that prints all the number from 0 to 5 except 3**

**Input**: 0, 1, 2, 3, 4, 5 <br>
**Output**: 0, 1, 2, 4, 5

In [3]:
#Note : Use 'continue' statement.
for i in range(0,6):
  if i==3:
    continue
  else:
    print(i)

0
1
2
4
5

**Q.3 Write the sum of all the natural numbers upto 10**

In [5]:
#Note : Using while loop
sum=0
i=0
n=10
while i<n:
  i=i+1
  sum=sum+i
print(sum)

55

**Q.4 Print all the numbers in the given list in the sequence till the number is divisble by 6**

```list_set = [2,4,7,13,19,18,21,23,35,36]```

In [21]:
list_set = [2,4,7,13,19,18,21,23,35,36]
for i in list_set:
  if i%6!=1:
    break
  else:
    print(i)

**Q.5 Program to print given pattern**



```
*
**
***
****
*****
```

In [6]:
for i in range(1,6):
  for j in range(1,i+1):
        print('*',end='')
  print('')

*
**
***
****
*****

*
**
***
****
*****

**Q.6 Print the square of all the non-negative whole numbers below 5 in separate lines**


```
Output:
25
16
9
4
1
```

In [12]:
for j in range(5,0,-1):
    print(j**2,end='')
    print('')

25
16
9
4
1

25
16
9
4
1

**Q.7 Print multiplication table till 10 for numbers from 1 to 9 using a nested while and for loop.**

```
1 2 3 4 5 6 7 8 9 10 
2 4 6 8 10 12 14 16 18 20 
3 6 9 12 15 18 21 24 27 30 
4 8 12 16 20 24 28 32 36 40 
5 10 15 20 25 30 35 40 45 50 
6 12 18 24 30 36 42 48 54 60 
7 14 21 28 35 42 49 56 63 70 
8 16 24 32 40 48 56 64 72 80 
9 18 27 36 45 54 63 72 81 90
```

In [14]:
for i in range(1,11):
  for j in range(1,11):
    print(j*i,end=' ')
  print(' ')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

**Q.8 Program to print given pattern**

```
*****
****
***
**
*
```

In [15]:
for i in range(1,6):
  for j in range(5,i-1,-1):
    print('*',end='')
  print('')

*****
****
***
**
*

*****
****
***
**
*

**Q.9 Program to print given pattern**

```   
    *
   **
  ***
 ****
*****
```

In [26]:
i=0
n=5
while i<=n:
  print(" "* (n-i) +"*"*i)
  i=i+1

    *
   **
  ***
 ****
*****

    *
   **
  ***
 ****
*****

**Q.10 Write a programme to find the number of words with length of 5 present in the given sentence.**

s = "The Dowry system is evil in society. It has reduced the sacred affair of marriage to a business deal. Brides are treated as a marketable commodity. The parents of the brides are often put under inhuman pressure for a handsome dowry. Sometimes they become paupers to get their daughters married. In many cases, young brides are ruthlessly tortured or pushed to suicide"

In [27]:
count=0
s = "The Dowry system is evil in society. It has reduced the sacred affair of marriage to a business deal. Brides are treated as a marketable commodity. The parents of the brides are often put under inhuman pressure for a handsome dowry. Sometimes they become paupers to get their daughters married. In many cases, young brides are ruthlessly tortured or pushed to suicide"
for i in s.split():
  if len(i)==5:
    count=count+1
print("total words with length 5 is",count)

total words with length 5 is 6

**Q.11 Calculate the number of digits and number of characters (it includes letters, digits, special characters including space) in the given string and find the sum of the digits.**

```
lng_str = "jjt8g%ust!58thg8rthgurt5out9t yfohu%$lkfw3uw4twkejlrwe7werhwa1khed7fjfslfjd9dhh!ehhl*ksf8fjlko%o995h@g87strf7fef4sen98%t1jj2(jghj6j$&jshh47@dhkljkaf6a"
```

In [31]:
sum=0
count=0
count1=0
lng_str = "jjt8g%ust!58thg8rthgurt5out9t yfohu%$lkfw3uw4twkejlrwe7werhwa1khed7fjfslfjd9dhh!ehhl*ksf8fjlko%o995h@g87strf7fef4sen98%t1jj2(jghj6j$&jshh47@dhkljkaf6a"
for i in lng_str:
  if (i.isdigit()):
     sum=sum+int(i)
     count=count+1
  count1=count1+1
print("digit count is",count)
print("digit sum is ",sum)
print("the charachter is ",count1)

digit count is 28
digit sum is  174
the charachter is  150

The number of digits is:
28
The number of characters is:
150
The digits sum is:
174

**Q 12 Calculate the number of digits and number of characters (it includes letters, digits, special characters including space) in the given string and find the sum of the digits.**

Input:  khokho <br>
Output:  <br>
The entered string is symmetrical  <br>
The entered string is not palindrome  <br>

<br>

Input: level  <br>
Output:  <br>
The entered string is not symmetrical  <br>
The entered string is palindrome  <br>

<br>

Input: radar  <br>
Output:  <br>
The entered string is not symmetrical  <br>
The entered string is palindrome  <br>

<br>

Input: amaama  <br>
Output:  <br>
The entered string is symmetrical  <br>
The entered string is palindrome  <br>

In [32]:
string='level'
half=int(len(string)/2)
if len(string)%2==0:
  first_str=string[:half]
  second_str=string[half:]
else:
  first_str=string[:half]
  second_str=string[half+1:]
if first_str==second_str:
  print("it's symmetrical")
else:
  print("it's not symmetrical")
if first_str==second_str[::-1]:
  print("it's pallindromic")
else:
  print("it's not a pallindromic")

it's not symmetrical
it's pallindromic

**Q 13 Write a code to find out the name of the student who have got highest average marsks in homework. Additionally also print the average score**

In [33]:
students = [{'homework': [90.0, 97.0, 75.0, 92.0],
  'name': 'Ramesh',
  'quizzes': [88.0, 40.0, 94.0],
  'tests': [75.0, 90.0]},
 {'homework': [100.0, 92.0, 98.0, 100.0],
  'name': 'Suresh',
  'quizzes': [82.0, 83.0, 91.0],
  'tests': [89.0, 97.0]},
 {'homework': [0.0, 87.0, 75.0, 22.0],
  'name': 'Diksha',
  'quizzes': [0.0, 75.0, 78.0],
  'tests': [100.0, 100.0]}]

In [54]:
highest_score=0
name_stu=''
for stu in students:
  for key,values in stu.items():
    if key == 'homework':
      avg = sum(values)/len(values)
    if (highest_score<avg):
      highest_score==avg
      name_stu=stu["name"]
print(name_stu)
print(highest_score)

TypeError: ignored